.spec_info {
    z-index: 5;
    position: absolute;
    left: 20%;
    top: 15%;
    width: 60%;
    padding: 2rem;
    background: var(--white--white);
    border: 2px solid #e6e6e6;
    box-shadow: 0px 373px 149px rgba(0, 0, 0, 0.01), 0px 210px 126px rgba(0, 0, 0, 0.03),
        0px 93px 93px rgba(0, 0, 0, 0.04), 0px 23px 51px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
    border-radius: 13px;

    .TextInput_text_input__JPGGe:not(:first-child) {
        margin-top: 1rem;
    }
}
