:root {
    --black--black_-1: #111111;
    --black--black: #212023;
    --black--black_1: #41424d;
    --black--black_2: #9a9ba1;
    --black--black_3: #dadadd;
    --blue_gray--blue_gray_-1: #191d23;
    --blue_gray--blue_gray: #263346;
    --blue_gray--blue_gray_1: #616e81;
    --blue_gray--blue_gray_2: #8e9bae;
    --blue_gray--blue_gray_3: #bdc7d4;
    --violet--violet_-1: #2a248c;
    --violet--violet: #3830bc;
    --violet--violet_1: #6059c9;
    --violet--violet_2: #8883d7;
    --violet--violet_3: #c3c1eb;
    --blue--blue_-1: #0656f2;
    --blue--blue: #1e5fde;
    --blue--blue_1: #4b7fe5;
    --blue--blue_2: #789feb;
    --blue--blue_3: #bccff5;
    --gray--gray_-1: #bdbcc2;
    --gray--gray: #dbdadf;
    --gray--gray_1: #e2e1e5;
    --gray--gray_2: #f1f0f2;
    --gray--gray_3: #f8f8f9;
    --white--white_-1: #f6f6f6;
    --white--white: #fcfcfc;
    --white--white_1: #ffffff;
    --green--green_-1: #00874e;
    --green--green: #00a962;
    --green--green_1: #54cb99;
    --green--green_2: #89e7bf;
    --green--green_3: #bdf6de;
    --yellow--yellow_-1: #e4a23e;
    --yellow--yellow: #feba54;
    --yellow--yellow_1: #fec876;
    --yellow--yellow_2: #ffe3bb;
    --yellow--yellow_3: #fff1dd;
    --red--red_-1: #a63222;
    --red--red: #cf3f2b;
    --red--red_1: #d96555;
    --red--red_2: #ecb2aa;
    --red--red_3: #f5d9d5;
}
